/* src/styles/globals.css */
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
  exclude: properties;
}

@theme {
  --color-gold: #bf4040;
  --color-gold-hover: #a83535;
  --color-cream: #fdfbf7;
  --color-cream-border: #e5e0d4;
  --color-dark: #1c1008;
  --color-dark-hover: #2e1e10;
  --color-crimson: #8b1a1a;
  --color-crimson-dark: #6e1414;
  --color-crimson-light: #a82020;
}
